# Xcode noise
build/*
*.pbxuser
*.mode1v3
*.xcuserstate

!default.pbxuser
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

#old skool
.svn

# osx noise
.DS_Store
profile

Manifest.lock
Podfile.lock

.dropbox

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/PainMedsBuddy.xcresult
fastlane/test_output/report.html
fastlane/test_output/report.junit
fastlane/derived_data_path/


/Pods
fastlane/screenshots/screenshots.html

!fastlane/screenshots/en-GB/iPhone 11 Pro Max-01-Home.png
!fastlane/screenshots/en-GB/iPhone 11 Pro Max-02-Medications.png
!fastlane/screenshots/en-GB/iPhone 11 Pro Max-03-AddMed.png
!fastlane/screenshots/en-GB/iPhone 11 Pro Max-04-History.png
!fastlane/screenshots/en-GB/iPhone 11 Pro Max-05-AddDose.png